.LandingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh !important;
  background: linear-gradient(to bottom, #61045F, #AA076B);
  background-size: cover;
  background-position: center center;
  flex-direction: column;
  h2{
    color: #fff;
  }
  .btn-offer {
    text-shadow: none;
    background: linear-gradient(-45deg,#FF512F, #F09819);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px blue;
    border: 0;
    font-size: 20px;
    padding: 1rem 4rem;
    position: relative;
    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 3px blue;
    margin: 2rem 0;
    text-transform: uppercase;

    &:hover {
      animation-name: shakeAnim;
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    border: 2px solid #fff;
  }
}

@keyframes shakeAnim {
  0% {
    top: 0;
  }
  1% {
    top: -5;
  }
  2% {
    top: 8px;
  }
  3% {
    top: -10px;
  }
  4% {
    top: 8px;
  }
  5% {
    top: -10px;
  }
  6% {
    top: 5;
  }
  7% {
    top: 0;
  }
}

@keyframes shake {
  0% {
    top: 0;
  }
  1% {
    top: -5;
  }
  2% {
    top: 8px;
  }
  3% {
    top: -10px;
  }
  4% {
    top: 8px;
  }
  5% {
    top: -10px;
  }
  6% {
    top: 5;
  }
  7% {
    top: 0;
  }
}
